<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ress@2.0.2/ress.css">
  <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>
  <h1>Hello World!</h1>

  <script src="./assets/scripts/bundle.js"></script>
  
</body> 
</html>